@model Ogrenci
@{
    ViewData["Title"] = "UpdateStudent";
}

<h1>Ogrenci Güncelle</h1>
<form asp-controller="Student" asp-action="UpdateStudent" method="post">
    <input type="hidden" asp-for="Ogrenciid" />
    <div class="mb-3">
        <label>Öğrenci Adı</label>
        <input class="form-control" type="text" asp-for="Ad" />
    </div>
    <div>
        <label>Soyadı</label>
        <input class="form-control" type="text" asp-for="Soyad" />
    </div>
    <div>
        <label>Numarası</label>
        <input class="form-control" type="text" asp-for="Numara" />
    </div>

    <input type="submit" class="btn btn-success" value="Kaydet" />
</form>